[submodule "archi-admin"]
	path = archi-admin
	url = https://github.com/eureka-project-4/archi-admin.git
[submodule "archi-service"]
	path = archi-service
	url = https://github.com/eureka-project-4/archi-service.git
[submodule "archi-ai"]
	path = archi-ai
	url = git@github.com:eureka-project-4/Archi-AI.git
